.appcontainer {
  width: 100%;
  height: 100vh ;

}

.contentcontainer {
  text-align: center;
  background-color: bisque;
  width: 100%;
  height: 100vh ;

}

.myprojectcontainer {
  text-align: center;
  background-color: rgb(17, 4, 10);
  width: 100%;
  height: 100% ;
  color: rgb(0, 0, 0);
  padding: 10px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';

}

.projectitem {
  text-align: center;
  background-color: rgb(212, 212, 212);
  width: 25%;
  height: 40vh;
  color: rgb(0, 0, 0);
  float:left ;
  margin-bottom: 5px;
  margin-right: 5px;


}












