.appcontainer {
  width: 100%;
  height: 100vh ;

}

.contentcontainer {
  text-align: center;
  background-color: bisque;
  width: 100%;
  height: 100vh ;

}

.myprojectcontainer {
  text-align: center;
  background-color: rgb(154, 21, 83);
  width: 100%;
  height: 100% ;
  color: aqua;
  padding: 10px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';

}

.projectitem {
  text-align: center;
  background-color: rgb(41, 194, 186);
  width: 25%;
  height: 40vh;
  color: aqua;
  float:left ;
  margin-bottom: 5px;
  margin-right: 5px;


}












